<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
  $(document).ready(function() {
  const setModal = function(html) {
    const $modal = $('#modal')
    const $modalContent = $modal.find('.modal-content')
    $modal.modal('show')
    $modalContent.html(html)
  }

  const setLoadingModal = function() {
    setModal(`
      <div class="modal-header">
        <h5 class="modal-title">Loading</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </div>
    `)
  }

  $('#list-group').on('click', '#show-btn, #edit-btn', function(e) {
    e.preventDefault()
    const $elem = $(e.target)
    const url = $elem.data('url')
    const method = $elem.data('method')
    setLoadingModal()
    axios({ method, url }).then(function(resp) {
      setModal(resp.data)
    })
  })

  $('#list-group').on('click', '#delete-btn', function (e) {
    e.preventDefault()
    const $elem = $(e.target)
    const url = $elem.data('url')
    const method = $elem.data('method')
    axios({ method, url }).then(function() {
      $(`#list-group .delete-btn[data-url="${url}"][data-method="DELETE"]`).parentsUntil('#own-property-list').remove()
    })
  })
})
</script>
<%- contentFor('body') %>
<h2>Own Property List</h2>

<%- include('_partials/filter') %>

<div id="list-group">
  <% if (property.length > 0) { %>
      <ul id="own-property-list" class="list-unstyled">
        <% property.forEach(function(property){ %>
          <li class="my-1">
            <a id= "show-btn" class="show-btn font-weight-bold"   data-url="/api/ownproperty/<%= property.id %>"   data-method="GET"><%= property.name %></a>
            <button id="edit-btn" class="edit-btn btn btn-info btn-sm" data-url="/api/ownproperty/<%= property.id %>/edit" data-method="GET"><i class="fas fa-edit">EDIT</i></button>
            <button id= "delete-btn" class="delete-btn btn btn-danger btn-sm" data-url="/api/ownproperty/<%= property.id %>" data-method="DELETE"><i class="fas fa-trash">DELETE</i></button>
          </li>
        <% }) %>
      </ul>

      <%- include('_partials/pagination') %>
    <% } %>
</div>

<%- include('../../_partials/modal') %>
