<script>
  // $(document).ready(() => {

  //   const $propertyImageOneInput = $('#property-imageOne-input')
  //   const $propertyImageOnePreview = $('#property-imageOne-preview')
  //   $propertyImageOneInput.on('change', (e) => {
  //     const $elem = $(e.target)
  //     const [file] = $elem.prop('files')
  //     if (file) {
  //       $profileAvatarPreview.removeClass('d-none').attr('src', URL.createObjectURL(file))
  //     } else {
  //       $profileAvatarPreview.addClass('d-none')
  //     }
  //   })
  // })

  $(document).ready(() => {
    bsCustomFileInput.init()

    // $('#property-form').on('submit', (e) => {
    //   e.preventDefault()
    //   const $elem = $(e.target)
    //   const method = $elem.data('method')
    //   const url = $elem.data('url')
    //   const data = new FormData($elem[0])

    //   axios({ method, url, data })
    // })
  })
</script>

<form id="property-form" novalidate>
  <div class="form-group">
    <label>Type</label>
    <input
      class="form-control"
      type="text"
      name="type"
      data-error-ref="type"
      value="<%= property.type %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Name</label>
    <input
      class="form-control"
      type="text"
      name="name"
      data-error-ref="name"
      value="<%= property.name %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Address</label>
    <input
      class="form-control"
      type="text"
      name="address"
      data-error-ref="address"
      value="<%= property.address %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Price</label>
    <input
      class="form-control"
      type="number"
      name="price"
      data-error-ref="price"
      value="<%= property.price %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Year</label>
    <input
      class="form-control"
      type="text"
      name="year"
      data-error-ref="year"
      value="<%= property.year %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Area</label>
    <input
      class="form-control"
      type="text"
      name="area"
      data-error-ref="area"
      value="<%= property.area %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Room Number</label>
    <input
      class="form-control"
      type="number"
      name="roomNumber"
      data-error-ref="roomNumber"
      value="<%= property.roomNumber %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      data-error-ref="description"
      value="<%= property.description %>"
    >
    <div class="invalid-feedback"></div>
  </div>

  <h4>Maximum upload 4 images</h4>

  <div class="form-group">
    <label>Image One</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="property-imageOne-input" name="imageOne">
      <label class="custom-file-label" for="property-imageOne-input">Choose file</label>
    </div>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Image Two</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="property-imageOne-input" name="imageTwo">
      <label class="custom-file-label" for="property-imageOne-input">Choose file</label>
    </div>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Image Three</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="property-imageOne-input" name="imageThree">
      <label class="custom-file-label" for="property-imageOne-input">Choose file</label>
    </div>
    <div class="invalid-feedback"></div>
  </div>

  <div class="form-group">
    <label>Image Four</label>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="property-imageOne-input" name="imageFour">
      <label class="custom-file-label" for="property-imageOne-input">Choose file</label>
    </div>
    <div class="invalid-feedback"></div>
  </div>

</form>
