<%- contentFor('styles') %>
<%- contentFor('scripts') %>
<script>
$(document).ready(function() {
  const setModal = function(html) {
    const $modal = $('#modal')
    const $modalContent = $modal.find('.modal-content')
    $modal.modal('show')
    $modalContent.html(html)
  }

  const setLoadingModal = function() {
    setModal(`
      <div class="modal-header">
        <h5 class="modal-title">Loading</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-spinner fa-spin"></i>
        </div>
      </div>
    `)
  }

  $('#list-group').on('click', '#show-btn', function(e) {
    e.preventDefault()
    const $elem = $(e.target)
    const url = $elem.data('url')
    const method = $elem.data('method')
    setLoadingModal()
    axios({ method, url }).then(function(resp) {
      setModal(resp.data)
    })
  })

  $('#list-group').on('click', '.favourite-btn', function (e) {
    e.preventDefault()
    const $elem = $(e.target)
    const url = $elem.data('url')
    const method = $elem.data('method')
    const $currentUserId = $('#current-user-id').text()
    const $propertyId = $('#property-id').text()
    const $urlParam = $elem.siblings('.show-btn').data('url').split('/')[3]
    axios({method, url, data: {
      UserId: $currentUserId,
      PropertyId: $urlParam
    }})
  })
})
</script>
<%- contentFor('body') %>
<h2>Property List</h2>

<%- include('_partials/filter') %>

<div id="list-group">
  <div id="current-user-id" style="display:none"><%= currentUser.id %></div>
  <% if (property.length > 0) { %>
    <ul id="property-list" class="list-unstyled">
      <% property.forEach(function(property){ %>
        <li class="my-1">
          <a id="property-id"><%= property.id %></a>
          <a id= "show-btn" class="show-btn font-weight-bold" data-url="/api/ownproperty/<%= property.id %>"  data-method="GET" value="<%= property.id %>"><%= property.name %></a>
          <button id="favourite-btn" class="favourite-btn" data-url='/api/favourite' data-method='POST'>Favourite</button>
        </li>
      <% }) %>
    </ul>

    <%- include('_partials/pagination') %>
  <% } %>
</div>


<form style='display:none'>
  <input>
</form>



<%- include('../../_partials/modal') %>
